body {
    background-color: #e7cfa7;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #445a85;
}

#gameArea {
    width: 800px;
    height: 500px;
    margin: 20px auto;
    border: 3px solid white;
    position: relative;
    overflow: hidden;
}

#ball {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
}

#player {
    width: 120px;
    height: 15px;
    background: blue;
    position: absolute;
    bottom: 10px;
    left: 340px;
}
